.topnav {
    background-color: rgb(104, 223, 24);
    overflow: hidden;
    display: horizontal;
  }
  .topnav a {
    float: left;
    color: #620dc4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(6, 88, 61);
    color: rgb(8, 87, 233);
  }
  .topnav a.active {
    background-color: #d3190c;
    color: rgb(207, 147, 187);
  }
  